################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Kinematics and Player Controllers/.vs/Kinematics and Player Controllers/v15/Server/sqlite3/db.lock
